<!--Start Welcome Section-->
<section class="welcome-area particle-bg" id="welcome-area" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="2500">
    <div id="particles-js"></div>
    <div class="welcome-text">
        <h6>I Am Melanie German</h6>
        <span class="element"></span>
        <a href="#contact" class="btn-style2 hire-btn">HIRE ME</a>
    </div>
</section>
<!--End Welcome Section-->

<!--Start About Section-->
<section class="about padding-style1" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="about-img">
                    <img src="images/melanie.jpg" alt="" class="about-img img-responsive">
                    <div class="about-img-overlay">
                        <div class="social-icons">
                          <a href="https://github.com/purplecub"><i class="fa fa-github" aria-hidden="true"></i></a>
                          <a href="https://twitter.com/melgrmn"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                          <a href="https://www.linkedin.com/in/melaniegerman"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="about-text">
                    <h4 class="section-title">
                        ABOUT ME
                    </h4>
                    <p>Melanie German is a full-stack Ruby on Rails developer. She is adept with HTML, CSS, JavaScript, 
                    and developing web applications with Ruby on Rails.  Through her WebDev course, she learned to build 
                    DevMatch, a social media website to connect developers with entrepreneurs and investors. She has mastered
                    creating contact forms, accepting payments, and building and maintaining social media profiles and 
                    databases.</p><br>
                    
                    <p>Melanie has been with Apple for more than 6 years, which has allowed her to better understand the
                    perceptions of end users. As a trainer, she is proficient at iOS and Mac OS, and has developed expertise 
                    in the art of troubleshooting. Working in such a fast-paced environment, has allowed Melanie to develop 
                    skills in multitasking and providing user support for customers and employees with ease.</p><br>
                    
                    <p>Melanie has lived in Los Angeles, CA, for 5 years, since moving from Oklahoma. She loves catching 
                    up on the latest TV shows and superhero movies, working out at SoulCycle, and playing and streaming video games.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section-->

<!--Start Skills Section-->
<section class="skills" id="skills"  data-stellar-background-ratio="0.6" data-stellar-vertical-offset="1700">
    <div class="skill-container padding-style1">
        <!-- <div class="skill-overlay padding-style1"></div>
        <div class="skills-content"> -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 skills-left">
                    <div class="skill-heading-area">
                    <h6>My Skills</h6>
                    <h4>I provide the Best Quality</h4>
                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt</p>
                    <a href="#portfolio" class="btn-style2 skill-btn">SEE MY WORKS</a>
                    </div>
                </div>
                <div class="col-md-6 skills-right">
                    <div class="progressbar-area">
                        <p>RUBY ON RAILS</p>
                        <div class="progress">
                            <div class="progress-bar prog-rails" role="progressbar"
                             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                                 
                                <span>75%</span>
                            </div>
                        </div>
                        <p>APPLE OPERATING SYSTEMS</p>
                        <div class="progress">
                            <div class="progress-bar prog-apple" role="progressbar"
                             aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            
                                <span>98%</span>
                            </div>
                        </div>
                        <p>...Something else</p>
                        <div class="progress">
                            <div class="progress-bar prog-86" role="progressbar"
                             aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            
                               <span>86%</span>
                            </div>
                        </div>
                        <p>VIDEO PRODUCTION</p>
                        <div class="progress">
                            <div class="progress-bar prog-video" role="progressbar"
                             aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            
                               <span>85%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--End Skills Section-->


<!--Start Experience Section-->
<section class="experience padding-style1" id="experience">
    <div class="experience-header">
        <h4 class="section-title">MY EXPERIENCE</h4>
    </div>
    <div class="container">
        <div class="experience-container">
            <div class="row">
                <div class="col-md-6 left-item">
                    <div class="experience-item">
                        <div class="experience-circle"></div>
                        <div class="experience-content">
                            <h6>GRIFFIN MEMORIAL</h6>
                            <p class="range">2005-2010</p>
                            <p>Melanie assisted with billing and clerical duties in the Reimbursement department for 
                            more than 5 years. She also helped train new work-study employees.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 right-item experience-top-margin">
                    <div class="experience-item">
                        <div class="experience-circle"></div>
                        <div class="experience-content">
                            <h6>SKYLINE MEDIA, INC.</h6>
                            <p class="range">2009</p>
                            <p>Melanie worked in the video production department with Skyline Media. She helped 
                            with pre-production, on set, and for production for more than 5 different clients local 
                            to the Oklahoma City area.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 left-item experience-top-margin">
                    <div class="experience-item">
                        <div class="experience-circle"></div>
                        <div class="experience-content">
                            <h6>LINDSEY + ASP</h6>
                            <p class="range">2009-2010</p>
                            <p>Melanie helped open Lindsey+Asp as Creative Director of Print. 
                            She designed an award-winning campaign for the Norman Police Department and helped 
                            develop print and web advertisements for multiple organizations.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 right-item experience-top-margin">
                    <div class="experience-item">
                        <div class="experience-circle"></div>
                        <div class="experience-content">
                            <h6>APPLE</h6>
                            <p class="range">2010-Present</p>
                            <p>Melanie has worked her way up to trainer during her 5+ years at Apple. She has maintained 
                            a high approval rating, with more than 900 responses praising her knowledge, expertise, and 
                            professionalism. Through her different roles she has mastered Mac OS and iOS, and is called 
                            upon by employees and customers to troubleshoot many different issues daily. Working in such 
                            a fast-paced environment has helped her hone her multitasking and customer service skills.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 left-item last-item experience-top-margin">
                    <div class="experience-item">
                        <div class="experience-circle"></div>
                        <div class="experience-content">
                            <h6>CODERMANUAL</h6>
                            <p class="range">2015-Present</p>
                            <p>Through this self-paced online course, Melanie has been able to develop several 
                            Ruby on Rails applications. Her expertise includes GitHub, deploying web apps with Heroku, 
                            building functioning contact forms with SendGrid, accepting payments with Stripe, and building 
                            and maintaining social media profiles and databases. She is also proficient in HTML, CSS, 
                            JavaScript, Ruby, and the Ruby on Rails framework. She is also experienced with Python and 
                            Objective-C, and has much more planned for the future. You can check out DevMatch 
                            <a class="linkedin-link" href="afternoon-river-35407.herokuapp.com">here.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Experience Section-->

<!--Start Contact Section-->
<section class="contact padding-style1" id="contact"  data-stellar-background-ratio="0.6" data-stellar-vertical-offset="1500">
        <div class="contact-header">
            <h4 class="section-title">GET IN TOUCH</h4>
        </div>
        <div class="contact-content">
            <div class="container">
                <div class="row">

                    <div class="col-md-offset-2 col-md-8">
                        
                        <div class="contact-details">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="https://github.com/purplecub">
                                        <div class="contact-icon">
                                            <i class="fa fa-github" aria-hidden="true"></i>
                                        </div>
                                        <div class="contact-text">
                                            <p><span class="bold">GitHub</span></p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="https://twitter.com/melgrmn">
                                        <div class="contact-icon">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </div>
                                        <div class="contact-text">
                                            <p><span class="bold">Twitter</span></p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="https://www.linkedin.com/in/melaniegerman">
                                        <div class="contact-icon">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </div>
                                        <div class="contact-text">
                                            <p><span class="bold">LinkedIn</span></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-8">
                        <div class="col-md-12">
                            <div class="contact-form contact-form-area">
                                <%= form_for @contact do |f| %>
                                        <div class="col-md-6">
                                            <!-- <input type="text" placeholder="Name" id="name"> -->
                                            <% f.label :name %>
                                            <%= f.text_field :name, placeholder: "Name" %><br>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- <input type="text" placeholder="Email" id="email"> -->
                                            <% f.label :email %>
                                            <%= f.email_field :email, placeholder: "Email" %>
                                        </div>
                                        <div class="col-md-12">
                                            <!-- <textarea placeholder="Type here" id="message"></textarea>
                                            <input type="submit" class="submit-btn btn-style2 clearfix" value="SUBMIT" id="contact-submit"> -->
                                            <% f.label :message %>
                                            <%= f.text_area :message, placeholder: "Type your message here." %>
                                            
                                            <%= f.submit "SUBMIT", class: "submit-btn btn-style2 clearfix", id: "contact-submit" %>
                                        </div>
                                        <% end %>
                                    <div class="result"></div>
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--End Contact Section-->

