<!DOCTYPE html>
<html>
<head>
  <title>PersonalWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <img src="/images/m-logo.jpg" class="m-logo">
        Melanie German
      <% end %>
      
    </div>
	    
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <div class="nav navbar-nav navbar-right">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Resume", resume_path %></li>
        <li><%= link_to "Contact", new_contact_path %></li>
        <li><%= link_to "https://www.linkedin.com/in/melaniegerman" do %>
          <i class="fa fa-linkedin-square fa-lg"></i>
        <% end %></li>
        <li><%= link_to "https://github.com/purplecub" do %>
          <i class="fa fa-github-square fa-lg"></i>
        <% end %></li>
        <!--Stack overflow goes here.-->
        <li><%= link_to "https://twitter.com/thepurplecub" do %>
          <i class="fa fa-twitter-square fa-lg"></i>
        <% end %></li>
      </ul>
    </div>
  </div>
</nav>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>  

<div class="container">
  <%= yield %>
</div>

</body>
</html>
