<!DOCTYPE html>
<html>
<head>
  <title>Melanie German</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  
  <%= csrf_meta_tags %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104057014-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
  
<!-- Start Preloader -->
  <!-- <div class="preloader">
      <div class="preloader-img"></div>
  </div> -->
<!-- End Preloader -->

<!-- Start scroll-top button -->
  <div id="scroll-top-area">
      <a href="#slider-portion"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
  </div>
<!-- End scroll-top button -->

<!--Start Header-->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#welcome-area" class="logo">
                    <img src="images/logo-rezumate.png" alt="logo">
                    <p class='header-name'>MELANIE GERMAN</p>
                </a>
            </div>
            <div class="col-md-9">
                <nav class="menu single-page-nav" id="menu">
                    <ul>
                        <li><a class="home" href="#welcome-area">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#experience" class="experience-navbar">Experience</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--End Header-->

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>  

<div class="container" id="container">
  <%= yield %>
</div>

<!--Start Footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2017 Melanie German | All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->

<script>
    setTimeout("$('.alert-error').fadeOut('slow')", 6000)
    setTimeout("$('.alert-success').fadeOut('slow')", 3000)
</script>


</body>
</html>
